body {

}

.input-group {
    margin: 1em auto;
    max-width: 500px;
}

.container {
    text-align: center;
}

.temp {
    font-size: 4em;
}

.description {
    font-size: 2em;
}

.weather-info {
    display: none;
}

.city-name {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.wi-rain {
	color: black;
	font-size: 4em;
}